h1{
font-size: 45px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
color:white;
}

#cl{
  background-color: black;
}

#nome{
  border-radius: 5px;
}
#peso{
  border-radius: 5px;
}
#altura{
  border-radius: 5px;
}

.calc{
  display: inline-block;
  width: 400px;
  margin-left: 450px;
  border-radius: 15px;
  margin-right: 0px;
  padding: 15px;
  background-color: rgba(228, 41, 135, 0.613);
  color: white;
  text-align: center; 
  font-size: 25px;
   
}

button{
   font-size: 15pt;
   padding: 10px;
  border-radius: 5px;
 }

